# The program binary
src/bgrep

# test artifact
test/data

# artifacts of autotools
autom4te.cache
config.log
config.status
Makefile
src/Makefile
lib/Makefile
test/Makefile
config.h
stamp-h1
**/.deps
**/*.o
**/*.log
**/*.trs

# artifacts of gnulib bootstrap
/build-aux
/gnulib
/lib
/m4
INSTALL
aclocal.m4
config.h.in
configure

# Other temporary files
**/*.swp
**/*~
