/Makefile.am
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/intprops.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stddef.in.h
/stdio.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/verify.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/config.charset
/localcharset.c
/localcharset.h
/mbrtowc.c
/mbsinit.c
/quote.h
/quotearg.c
/quotearg.h
/ref-add.sin
/ref-del.sin
/stdbool.in.h
/streq.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/inttypes.in.h
/stdint.in.h
/xstrtol-error.c
/xstrtol.c
/xstrtol.h
/xstrtoul.c
/progname.c
/progname.h
/strtoimax.c
/strtol.c
/strtoul.c
/strtoull.c
/strtoumax.c
/xstrtoumax.c
